<div class="login_container">
  <div class="login_top-wrapper">
    {{{title}}}
    <form class="login_form">
      {{{inputLogin}}}
      {{{inputPassword}}}
      {{{button}}}
    </form>
  </div>
  <div class="login_link-wrapper">
    {{{link}}}
  </div>
</div>
