<div class="input_wrapper">
  <label class="input_label" id={{id}}>{{label}}</label>
  <input
    class="input_input"
    id={{id}}
    type={{type}}
    name={{name}}
    placeholder="{{placeholderLabel}}"
  />
</div>
