<div class="chat_contacts">
  <div class="chat_contacts-header">
    {{{linkProfile}}}
  </div>
  <div class="chat_contacts-list">
    {{{contact1}}}
    {{{contact2}}}
  </div>
</div>

<div class="chat_messages">
  {{{messagesHeader}}}
  <div class="chat_messages-block">{{{message}}}</div>
  <div class="chat_messages-form-wrapper">
    {{{form}}}
  </div>
</div>
