<label class="settings-input_label" id={{id}}>{{label}}</label>
<input
  class="settings-input_input"
  id={{id}}
  type={{type}}
  name={{name}}
  value="{{value}}"
  placeholder="{{placeholder}}"
/>
