<div class="settings-container">
  {{{avatar}}}
  <form class="profile-settings_form">
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputName}}}
    {{{inputSurname}}}
    {{{inputTelephone}}}
    {{{buttonBase}}}

  </form>
</div>
