<nav class="navigation">
  <ul>
    <li>
      {{{linkChat}}}
    </li>
    <li>
      {{{linkError404}}}
    </li>
    <li>
      {{{linkError500}}}
    </li>
    <li>
      {{{linkLogin}}}
    </li>
    <li>
      {{{linkPasswordSettings}}}
    </li>
    <li>
      {{{linkProfile}}}
    </li>
    <li>
      {{{linkProfileSettings}}}
    </li>
    <li>
      {{{linkRegistration}}}
    </li>
  </ul>
</nav>
