<nav class="navigation">
  {{{linkChat}}}
  {{{linkError404}}}
  {{{linkError500}}}
  {{{linkLogin}}}
  {{{linkPasswordSettings}}}
  {{{linkProfile}}}
  {{{linkProfileSettings}}}
  {{{linkRegistration}}}
</nav>
